# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore

node_modules/
.next/
.git/
.gitignore
README.md
.env*.local
*.log
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/

